v1_0/hrmanifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
     targetNamespace="https://github.com/rSmart/ce-tech-docs/tree/master/v1_0"
               xmlns="https://github.com/rSmart/ce-tech-docs/tree/master/v1_0"
             version="1.0"
  elementFormDefault="qualified">

  <xs:element name="hrmanifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="records">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record" type="RecordType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <!-- Declare which version of the schema your data is compatible with -->
      <xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
      <!-- The date the HR extract was created -->
      <xs:attribute name="reportDate" type="xs:dateTime" use="required"/>
      <!-- The number of records that were exported from the HR system of record -->
      <xs:attribute name="recordCount" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="RecordType">
    <xs:sequence>
      <xs:element name="affiliations">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="affiliation" type="AffiliationType" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addresses">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="names">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="NameType" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="phones">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="phone" type="PhoneType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="emails">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="email" type="EmailType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kcExtendedAttributes" type="KCExtendedAttributesType" maxOccurs="1" minOccurs="0"/>
      <xs:element name="degrees">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="degree" type="DegreeDataType" maxOccurs="1" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="appointments">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="appointment" type="AppointmentDataType" maxOccurs="1" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <!-- The unique ID number identifying a principal. It's the unique alphanumeric
      number from your HR system. -->
    <xs:attribute name="principalId" type="xs:string" use="required"/>
    <!-- The user name by which this principal is to be identified. i.e. username -->
    <xs:attribute name="principalName" type="xs:string" use="required"/>
  </xs:complexType>

  <!--
  Describes the person's default affiliation with your institution:
    Faculty, Non-Faculty, Affiliate, Student Investigator, or Faculty Supervisor.

    * A person must have at least one affiliation.
    * Each faculty or staff affiliation must have at least one Employment
        Information record associated with it.
    * If a person has any faculty or staff affiliations then one Employment
        Information record must be marked as 'primary.
    * Each person must have a default Name record in the Contacts section.
    * Each affiliation must be associated with a campus.
  -->
  <xs:complexType name="AffiliationType">
    <!-- AFLT = Affiliate; FCLTY = Faculty; GRD_STDNT_STAFF = Graduate Student Staff;
      MED_STAFF = Medical Staff; OTH_ACADMC_GRP = Other Academic Group;
      STAFF = Staff; STDNT = Student; SUPPRT_STAFF = Support Staff; -->
    <xs:attribute name="affiliationType" type="xs:string" use="required"/>
    <!-- Describes the principal's primary campus -->
    <xs:attribute name="campus" type="xs:string" use="required"/>
    <!-- Current status of this Faculty or Staff affiliation:
      A = Active; D = Deceased; L = On Non-Pay Leave; N = Status Not Yet Processed;
      P = Processing; R = Retired; S = Sabbatical Leave; T = Terminated; -->
    <xs:attribute name="employeeStatus" type="employeeStatus" use="required"/>
    <!-- Type of employment: N = Non-Professional; O = Other; P = Professional; -->
    <xs:attribute name="employeeType" type="employeeType" use="required"/>
    <!-- The employee's base salary -->
    <xs:attribute name="baseSalaryAmount" type="xs:float" use="required"/>
    <!-- The employee's primary department -->
    <xs:attribute name="primaryDepartment" type="xs:string" use="required"/>
    <!-- Employee's ID number -->
    <xs:attribute name="employeeId" type="xs:string" use="required"/>
    <!-- Boolean to indicate that this faculty or staff affiliation represents
          the Principal's primary job with your institution -->
    <xs:attribute name="primaryEmployment" type="xs:boolean" default="false"/>
    <!-- Only one record can be marked as the default. -->
    <xs:attribute name="default" type="xs:boolean" default="false"/>
    <!-- Only active records are visible in the application -->
    <xs:attribute name="active" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <!-- HM = Home; OTH = Other; WRK = Work -->
    <xs:attribute name="addressType" type="addressType"/>
    <xs:attribute name="addressLine1" type="xs:string"/>
    <xs:attribute name="addressLine2" type="xs:string"/>
    <xs:attribute name="addressLine3" type="xs:string"/>
    <xs:attribute name="city" type="xs:string"/>
    <xs:attribute name="stateOrProvince" type="xs:string"/>
    <xs:attribute name="postalCode" type="xs:string"/>
    <xs:attribute name="country" type="xs:string"/>
    <!-- Only one record can be marked as the default. -->
    <xs:attribute name="default" type="xs:boolean" default="false"/>
    <!-- Only active records are visible in the application -->
    <xs:attribute name="active" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="NameType">
    <!-- OTH = Other; PRFR = Preferred; PRM = Primary -->
    <xs:attribute name="nameCode" type="nameCode" use="required"/>
    <!-- Ms;Mrs;Mr;Dr -->
    <xs:attribute name="prefix" type="prefix"/>
    <xs:attribute name="firstName" type="xs:string" use="required"/>
    <xs:attribute name="middleName" type="xs:string"/>
    <xs:attribute name="lastName" type="xs:string" use="required"/>
    <!-- Jr;Sr;Mr;Md -->
    <xs:attribute name="suffix" type="suffix"/>
    <!-- Only one record can be marked as the default. -->
    <xs:attribute name="default" type="xs:boolean" default="false"/>
    <!-- Only active records are visible in the application -->
    <xs:attribute name="active" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="PhoneType">
    <!-- FAX = Facsimile; HM = Home; MBL = Mobile; OTH = Other; WRK = Work -->
    <xs:attribute name="phoneType" type="phoneType"/>
    <xs:attribute name="phoneNumber" type="xs:string"/>
    <xs:attribute name="extension" type="xs:string"/>
    <xs:attribute name="country" type="xs:string"/>
    <!-- Only one record can be marked as the default. -->
    <xs:attribute name="default" type="xs:boolean" default="false"/>
    <!-- Only active records are visible in the application -->
    <xs:attribute name="active" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="EmailType">
    <!-- HM = Home; OTH = Other; WRK = Work -->
    <xs:attribute name="emailType" type="emailType"/>
    <xs:attribute name="emailAddress" type="xs:string"/>
    <!-- Only one record can be marked as the default. -->
    <xs:attribute name="default" type="xs:boolean" default="false"/>
    <!-- Only active records are visible in the application -->
    <xs:attribute name="active" type="xs:boolean" default="true"/>
  </xs:complexType>

  <xs:complexType name="KCExtendedAttributesType">
    <xs:attribute name="county" type="xs:string"/>
    <xs:attribute name="ageByFiscalYear" type="xs:int"/>
    <xs:attribute name="race" type="xs:string"/>
    <xs:attribute name="educationLevel" type="xs:string"/>
    <xs:attribute name="degree" type="xs:string"/>
    <xs:attribute name="major" type="xs:string"/>
    <xs:attribute name="handicapped" type="xs:boolean" default="false"/>
    <xs:attribute name="handicapType" type="xs:string"/>
    <xs:attribute name="veteran" type="xs:boolean" default="false"/>
    <xs:attribute name="veteranType" type="xs:string"/>
    <xs:attribute name="visa" type="xs:boolean" default="false"/>
    <xs:attribute name="visaType" type="xs:string"/>
    <xs:attribute name="visaCode" type="xs:string"/>
    <xs:attribute name="visaRenewalDate" type="xs:date"/>
    <xs:attribute name="officeLocation" type="xs:string"/>
    <xs:attribute name="secondaryOfficeLocation" type="xs:string"/>
    <xs:attribute name="school" type="xs:string"/>
    <xs:attribute name="yearGraduated" type="xs:int"/>
    <xs:attribute name="directoryDepartment" type="xs:string"/>
    <xs:attribute name="directoryTitle" type="xs:string"/>
    <xs:attribute name="primaryTitle" type="xs:string"/>
    <xs:attribute name="vacationAccrual" type="xs:boolean" default="false"/>
    <xs:attribute name="onSabbatical" type="xs:boolean" default="false"/>
    <xs:attribute name="idProvided" type="xs:string"/>
    <xs:attribute name="idVerified" type="xs:string"/>
    <xs:attribute name="citizenshipType" type="xs:int"/>
    <xs:attribute name="multiCampusPrincipalId" type="xs:string"/>
    <xs:attribute name="multiCampusPrincipalName" type="xs:string"/>
    <xs:attribute name="salaryAnniversaryDate" type="xs:date"/>
  </xs:complexType>

  <xs:complexType name="DegreeDataType">
    <!-- TODO verify these valid values (mismatch from example XML) -->
    <!--
    +=============+===================================+
    | DEGREE_CODE | DESCRIPTION                       |
    +=============+===================================+
    | AS          | Associate in Science              |
    | BA          | Bachelor of Arts                  |
    | BComm       | Bachelor of Commerce (Canada)     |
    | BEd         | Bachelor of Education             |
    | BS          | Bachelor of Science               |
    | DA          | Doctor of Arts                    |
    | DC          | Doctor of Chiropractics           |
    | DD          | Doctor of Divinity                |
    | DDS         | Doctor of Dental Science          |
    | DEng        | Doctor of Engineering             |
    | DFA         | Doctor of Fine Arts               |
    | DH          | Doctor of Humanities              |
    | DHA         | Doctor of Hospital Administration |
    | DMin        | Doctor of Ministry                |
    | DPA         | Doctor of Public Administration   |
    | DSN         | Doctorate of Science, in Nursing  |
    | DVM         | Doctor of Veterinary Medicine     |
    | DVS         | Doctor of Veterinary Science      |
    | HS          | High School (or GED equivalent)   |
    | JD          | Jurum Doctor (Doctor of Laws)     |
    | LLD         | Legum Doctor (Doctor of Laws)     |
    | LLM         | Legum Magister (Master of Laws)   |
    | MA          | Master of Arts                    |
    | MAEd        | Master of Arts, in Education      |
    | MArch       | Master of Architecture            |
    | MBA         | Master of Business Administration |
    | MD          | Medical Doctor                    |
    | MDS         | Master of Medical Science         |
    | MDiv        | Master of Divinity                |
    | MEE         | Master of Electrical Engineering  |
    | MEd         | Master of Education               |
    | MEng        | Master of Engineering             |
    | MFA         | Master of Fine Arts               |
    | MIS         | Master of Information Systems     |
    | MLS         | Master of Library Science         |
    | MPA         | Master of Public Administration   |
    | MPE         | Master of Public Education        |
    | MPH         | Master of Public Health           |
    | MPd         | Master of Pedagogy                |
    | MPhil       | Master of Philosophy              |
    | MS          | Master of Science                 |
    | MSEd        | Master of Science, in Education   |
    | MST         | Master of Sacred Theology         |
    | MSW         | Master of Social Work             |
    | MTh         | Master of Theology, in Religion   |
    | PhD         | Doctor of Philosophy              |
    | PharD       | Doctor of Pharmacy                |
    | ScD         | Doctor of Science                 |
    | ThD         | Doctor of Theology, in Religion   |
    | UKNW        | No Degree information specified   |
    +=============+===================================+
    -->
    <xs:attribute name="degreeType" type="xs:string"/>
    <xs:attribute name="degree" type="xs:string"/>
    <xs:attribute name="graduationYear" type="xs:string"/>
    <xs:attribute name="fieldOfStudy" type="xs:string"/>
    <xs:attribute name="specialization" type="xs:string"/>
    <xs:attribute name="school" type="xs:string"/>
    <xs:attribute name="schoolId" type="xs:string"/>
    <xs:attribute name="schoolIdCode" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AppointmentDataType">
    <!-- TODO document valid values -->
    <xs:attribute name="appointmentType" type="xs:string"/>
    <xs:attribute name="unit" type="xs:string"/>
    <xs:attribute name="jobCode" type="xs:string"/>
    <xs:attribute name="salary" type="xs:float"/>
    <xs:attribute name="startDate" type="xs:date"/>
    <xs:attribute name="endDate" type="xs:date"/>
    <xs:attribute name="jobTitle" type="xs:string"/>
    <xs:attribute name="preferedJobTitle" type="xs:string"/>
  </xs:complexType>

  <xs:simpleType name="employeeStatus">
    <!-- A = Active; D = Deceased; L = On Non-Pay Leave; N = Status Not Yet Processed;
      P = Processing; R = Retired; S = Sabbatical Leave; T = Terminated; -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
      <xs:pattern value="A|D|L|N|P|R|S|T"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="employeeType">
    <!-- Type of employment: N = Non-Professional; O = Other; P = Professional; -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
      <xs:pattern value="N|O|P"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="addressType">
    <!-- HM = Home; OTH = Other; WRK = Work -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="HM|OTH|WRK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nameCode">
    <!-- OTH = Other; PRFR = Preferred; PRM = Primary -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
      <xs:pattern value="OTH|PRFR|PRM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="prefix">
    <!-- Ms;Mrs;Mr;Dr -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="Ms|Mrs|Mr|Dr"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="suffix">
    <!-- Jr;Sr;Mr;Md -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
      <xs:pattern value="Jr|Sr|Mr|Md"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="phoneType">
    <!-- FAX = Facsimile; HM = Home; MBL = Mobile; OTH = Other; WRK = Work -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="FAX|HM|MBL|OTH|WRK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="emailType">
    <!-- HM = Home; OTH = Other; WRK = Work -->
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="HM|OTH|WRK"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
